@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Cadastre, edite ou exclua seus usuários. Mantenha a gestão!</p>
</div>
