@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Desenvolvedor Luan Bortoleto</p> 
<p>Fique à vontade para usar esse projeto para estudar e aplicar os conceitos.</p>
